/*general*/
.welcome {
	height: 40px;
	width: 150px;
	margin-left: 250px;
	padding-top: 50px;
	color: #D8B482 !important;
}

.inspirations {
	height: 40px;
	width: 150px;
	margin-left: 250px;
	padding-top: 50px;
	color: #BF8E63;
}
.inspirations h1 {
	color: #BF8E63;
}
.content-box {
	width: 55%;
	margin: 10px 5px 10px 5px;
	min-height: 500px;
	display: inline-grid;
	padding: 5px;
}
h1 {
	font-weight: 600;
	font-size: 60px;
	color: #D8B482;
}
.content-box p {
	width: 100%;
	margin: 5%;
	max-width: 90%;
	font-size: 22px;
	color: #f2f2f2;
}
.content-box button {
	background-color: #6271fc;
	border-radius: 5px;
	color: white;
	border: none;
	height: 45px;
	margin: 0 auto;
	bottom: 0px;
}
.content-box button:hover {
	background-color: #D44746;
}
.post-meta {
  float: right;
  color: #666666;
}
.post-meta, .timestamp {
  float: right;
  margin: 0 0 0 16px;

}
.post-meta a {
  float: right;
  color: #999999;
  text-decoration: none;
  right: 10px;
}

/*individual card work*/
.content-box img {
	max-width: 425px;
	max-height: 300px;
	height: auto;
	width: auto;
	display: block;
	margin: 0 auto;
	padding-top: 10px;
}
.pairso {
	background-color: #374159;
	margin-right: 10px;
}
.newgrad {
	margin-left: 10px;
	background-color: #374159;
	margin-top: 200px;
}
.container {
	display: flex;
	flex-direction: row;
}

.lg-content-box {
	margin-top: -100px;
	background-color: #374159;
	min-height: 300px;
	padding: 10px;
	max-width: 940px;
	margin-bottom: 10px;
	background-image: url(https://ws.imgix.net/photos/zn4krr_juriart.jpg?w=1000&dpr=2&auto=compress&q=80&cs=tinysrgb&ixlib=js-1.0.6);
	background-repeat: no-repeat;
	background-size: 940px 500px;
}
.lg-content-box p {
	font-size: 9rem;
	text-align: center;
	margin: 0 auto;
}
.lg-content-box:hover {
	color: #7DCA81 !important;
	border: solid #7DCA81 10px; 
}

.lower-container {
	background-color: #D8B482;
	padding: 10px;
	position: relative;
	margin-top: 100px;
}

@media screen and (max-width: 600px) {
	.content-box, .lg-content-box {
		min-width: 90% !important;
	}
	.container {
		flex-direction: column;
	}
	.welcome, .inspirations {
		width: 90%;
		max-height: 400px;
		margin: 0 auto;
		padding: 10px;
	}
	.content-box img {
		max-width: 100%
	}
}

html {
	overflow-x: hidden;
}