@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,400');

body {
	background: #F8F8F8;
	display: flex;
	font-family: 'IBM Plex Sans', sans-serif;
}

.content-wrapper {
	width: 500px;
	margin: 0 auto;
}

.card {
	width: 500px;
	max-height: 600px;
	/*background: #D8D8D8;*/
	border: solid black 2px;
	margin-top: 10px;
	/*border-radius: 5px;*/
}

.upper {
	height: 40px;
	/*background: #BCBCBC;*/
	border-bottom: solid black 2px;
	width: 500px;
	/*border-radius: 5px 5px 0px 0px;*/
	font-size: 26px;
	color: black;
	text-align: left;
}

.upper p {
	padding-left: 20px;
}

h1 {
	text-decoration: underline;
	color: #5179fc;
}

.gifton {
	
	/*border: solid black 2px;*/
	margin-top: 10px;
	position: relative;
    color: black;
}
.gifton img {
	width: 490px;
	padding: 5px;
}
.top-right {
    position: absolute;
    top: 8px;
    right: 50px;
    color: gray;
}
ul {
	list-style: none;
	padding: 15px;
	color: gray;
}
li {
	padding: 10px;
}

#learning a {
	color: #F8A2A2;
}
#kash a {
	color: #4A8386;
}
#book a {
	color: #F19568;
}
#github a {
	color: #6CC8F0;
}
#email a {
	color: #8C606D;
}
a {
	text-decoration: underline;
}

.card img {
	width: 150px;
	margin-left: 175px;
	padding: 10px 0px 10px 0px;
	-webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
    filter: grayscale(80%);
}

.charity img {
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.about {
	background-image: url("../img/seattle.svg");
	width: 500px;
	height: 500px;
	
}
.about h3 {
	color: #6271fc;
}

@media screen and (max-width: 600px){
	
	.content-wrapper, .card, .upper {
		width: 95%;
		margin: 0 auto;

	}
        .body {
		width: 95%;
	}
	.gifton img {	
		width: 104%;
	}
	.card {
		margin-top: 10px;
	}
	.card img {
		margin-left: 80px;
	}
	body {
		overflow-x: hidden;
	}
	.about {
		background: none;
	}
	#louis {
		padding: 10px 10px 10px 10px;
	}
}	
.scene {
  /* Safari 6.0 - 9.0 */
  bottom:0;
  z-index: 100;
  left:0;
  overflow:hidden;
  right:0;
  height:300px;
  width: 100%;
  display: flex;
  padding-bottom: -10px;
  }
.scene > div {
  position: absolute;
  bottom:0;
}

.scene > div.clouds {
  width:895px;
  left:50%;
  margin-left:-447px;
  height:255px;
  bottom:290px;
  background:url(https://github.com/balajmarius/parallax/blob/master/img/clouds.png?raw=true) no-repeat center;
}













